version: "2"
services:
  web:
    build: .
    command: rails server -e development -p 3000 -b '0.0.0.0'
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    links:
     - solr:solr
     - mariadb
    depends_on:
      - solr
    env_file:
      - .env
  solr:
    image: solr
    ports:
     - "8983:8983"
    volumes:
      - data:/opt/solr/server/solr/mycores
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - qwerteach
  mariadb:
    image: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    ports:
      - "13306:3306"

volumes:
  data:
  mariadb:

# copy solr config:
## docker cp solr/configsets/sunspot/conf/schema.xml qwerteach_solr_1:/opt/solr/server/solr/mycores/qwerteach/conf
## docker cp solr/configsets/sunspot/conf/solrconfig.xml qwerteach_solr_1:/opt/solr/server/solr/mycores/qwerteach/conf
# reload solr core:
## curl "http://localhost:8983/solr/admin/cores?action=RELOAD&core=qwerteach"
# re-index & start sunspot



