%h1 Crop Avatar
.container.text-center
  .row
    .col-sm-6
      = image_tag @user.avatar.url(:large), :id => "cropbox"
    .col-sm-6
      %h4 Preview:
      %div{:style => "width:100px; height:100px; overflow:hidden"}
        = image_tag @user.avatar.url(:medium), :id => "preview"
      = image_tag @user.avatar.url(:small), :id => "preview"
