.section_recherche
  = form_tag profs_path, method: :post, id: 'search-form', remote: false do |f|
    .search-decoration
      .star
        %i.fa.fa-star.text-green
      .calendar
        %i.fa.fa-calendar.text-green
    %button{type: "submit"}
      %i.fa.fa-search
    = autocomplete_field_tag 'topic', '', autocomplete_topic_title_topics_path, :size => 75, :class => "recherche-bar"