%div.become-teacher-page
  .section_video
    .left
      %h2 Devenir prof sur Qwerteach
      %hr
      %p
        Rejoignez la communauté et partagez vos connaissances!
        %br
        %br
        = link_to '#signup-modal', class: 'btn btn-qw btn-pink signup-teacher', data: {toggle: 'modal'} do
          %i.fa.fa-long-arrow-right
          C'est parti!
    .right
      %iframe{:src => "https://www.youtube.com/embed/kAPEzIuIg94"}
  .section_test_classe
    .left
      = image_tag('become_teacher/accueil.jpg')
    .right
      %h2 Une nouvelle façon d'enseigner
      %hr
      %p
        Dans un environnement flexible, apportez votre soutien à des élèves issus du monde entier !
        %br
        %br
        = link_to '#signup-modal', class: 'btn btn-qw btn-pink', data: {toggle: 'modal'} do
          Poser ma candidature
  .section_etapes
    .col
      =image_tag("comment_ca_marche/ico_com.png", :alt => "Communiquez en direct avec votre professeur.")
      %p La qualité de votre travail est reconnue
    .col
      =image_tag("comment_ca_marche/ico_formes.png", :alt => "Tracez et créez des formes géométriques grâce aux outils graphiques")
      %p Variez vos durées de cours, innovez dans vos méthdoes
    .col
      =image_tag("comment_ca_marche/ico_partager.png", :alt => "Partagez tout type de document avec votre professeur")
      %p Gagnez du temps: Vous enseignez où et quand vou voulez
    .col
      =image_tag("comment_ca_marche/ico_record.png", :alt => "Les cours sont enregistrés pour que vous puissiez les revoir.")
      %p Vous fixez votre prix en toute liberté
        