%div
  #lessons-sorting
  - @lessons.each do |lesson|
    = render partial: 'lessons/lesson', :locals => {:lesson => lesson, todo: lesson.todo(@user)}
  #lessons-pagination.text-center
    = paginate @lessons
  - if @lessons.empty?
    %h2.page-title-green{style:'margin-bottom:0px'}
      Vous n'avez pas encore pris de cours sur Qwerteach!
    .row
      = render partial: 'dashboards/help_request_lesson', locals:{user: @user}
    .row
      = render partial: 'dashboards/featured_teachers', locals:{teachers: @teachers}

