-if user.confirmed?
  - unless user.profil_complete?
    = render partial: 'dashboards/bonus/referral'
  - else
    = render partial: 'dashboards/bonus/complete_profil'
- else
  = render partial: 'dashboards/bonus/contact'