@import 'global_variables';
h2.booking-title, #lesson-details, .additional-infos{
  color: #626262;
  font-family: SofiaProRegular;
}
h2.booking-title{
  font-size: 20px;
  margin: 40px 0px 20px 0px;
}
#lesson-details{
  .booking-step{
    display:none;
  }
  .booking-step.active{
    display:block;
  }
  .change-booking-step{
    cursor: pointer;
  }
  .payment_method{
    display:none;
    .actions{
      margin: 25px 0px;
      text-align:right;
      input[type="submit"]{
        color:#313131;
        background-color: $color_qwerteach_green;
        border-radius: 17px;
        font-size: 14px;
        padding: 6px 30px;
        margin-left:10px;
        border: 1px solid $color_qwerteach_green;
        letter-spacing: 0.2px;
        font-family: SofiaProLight;
      }
    }
  }
  h3{
    opacity: 0.5;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3.active{
    opacity: 1;
  }
  .choose_payment_method.inactive{
    opacity: 0.5;
  }
  form{
    label{
      font-family: SofiaProRegular;
      font-weight:500;
    }
    .hours-select .col-xs-1 label{
      line-height:29px;
      margin-left:-20px;
    }
  }
}
.additional-infos{
  font-family: SofiaProRegular;
  padding-top: 20px;
  #step1-infos{
    .teacher-recap{
      .teacher-infos{
        background-color: #313131;
        color: white;
        .teacher-avatar{
          display:inline-block;
          width:35%;
          img{
            width:100%;
          }
        }
        .teacher-text{
          width:65%;
          padding:20px;
          float: right;
          font-family: SofiaProLight;
          font-size: 14px;
          letter-spacing: 0.2px;
          line-height:20px;
          .name{
            margin-bottom:5px;
          }
          .reviews{
            margin-bottom:7px;
            .stars {
              color: $color_qwerteach_yellow;
            }
          }
          .occupation, .degree, .reviews{
            color: #9d9d9d;
            margin-bottom:5px;
          }
        }
      }
    }
    .teacher-topics{
      line-height:25px;
      border: 1px solid #e6e6e6;
      border-top:none;
      border-bottom: 1px solid $color_qwerteach_green;
      .topics-list{
        width:35%;
        border-right: 1px solid #626262;
        display: inline-block;
        float: left;
        padding: 0px 20px;
        margin: 20px 0px;
      }
      .level-max-list{
        width:65%;
        float:right;
        padding: 20px;
        padding-bottom: 10px;
      }
      .tarifs{
        margin-top:10px;
      }
    }
    .teacher-references{
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-top:none;
      img{
        margin-right:10px;
        width:30px;
      }
    }
    .teacher-reactivity{
      border: 1px solid #e6e6e6;
      border-top:none;
      padding:10px 20px;
    }
  }
}

