@import 'global_variables';
.load-wallet{
  margin-top: 0px;
  h3{
    margin: 0px;
    color: #6e6e6e;
    font-size: 24px;
    font-family: SofiaProregular;
    padding: 15px 0px;
  }
  #mangopay-account{
    border-bottom: 1px solid #6E6E6E;
    h3{
      border-top: 1px solid #6E6E6E;
    }
  }
  #load-wallet-form{
    .separation {
      text-align:center;
      height: 30px;
      hr{
        border-top-color: #6E6E6E;
      }
      .or {
        position: relative;
        bottom: 40px;
        background-color:white;
        display:inline-block;
        padding: 0px 10px;
      }
    }
  }
  .choose-payment-method{
    line-height:40px;
    img{
      margin:0px 5px;
      height:30px;
    }
  }
}