@import 'global_variables.scss';
.account_fields{
  font-family: sofiaProRegular;
  .header{
    position: relative;
    display: block;
    background: #F5A726;
    text-align: center;
    height: 100%;
    .option{
      margin: 30px;
    }
    h1{
      font-family: sofiaProRegular;
      color: #fff;
      margin-top: 5px;
      margin-bottom: 30px;
    }
    .triangle{
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-left-width: 30px;
      border-left-style: solid;
      border-left-color: transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #F5A726;
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform:translateX(-50%);
    }
  }
  form{
    margin: auto;
    width: 60%;
    .left,.right{
      float: left;
      width: 50%;
      margin-top: 50px;
    }
    .field{
      margin-left: 30px;
      margin: auto;
      margin-bottom: 12px;
      width: 250px;
      label{
        color: #3C3C3B;
        padding-left: 5px;
      }
      input{
        border-radius: 5px;
        border: 1px solid #706F6F;
        width: 250px;
        padding-left: 10px;
        color: #706F6F;
      }
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        color: #706F6F;
        border-color: #706F6F;
        outline: none !important;
        padding-left: 10px;
        background: url('select_arrow.png') no-repeat 97% 50% #ffffff;
        border: 1px solid;
        pointer: cursor
      }
      .btn{
        border-radius: 15px;
        border-color: #29B46C;
        border: 1px solid;
        color: #29B46C;
        background: #fff;
        width: 200px;
        margin-top: 20px;
      }
    }
  }
}

.wallet_index{
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .v-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .money{
    position: relative;
    height: 170px;
    background: #21DE80;
    z-index: 10;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.45);
    p{
      font-size: 71px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    span{
      color: #fff;
      position: absolute;
      bottom: 15px;
      margin: auto;
      text-align: center;
      width: 100%;
    }
  }

  .reload{
    position: relative;
    height: 170px;
    color: #21DE80;
    z-index: 9;
    box-shadow: 10px 2px 14px 2px rgba(0,0,0,0.45);
    cursor: pointer;
    .center{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-40%);
    }
    .high{
      height: 50%;
      position: relative;
      text-align: center;
      img{
        height: 15px;
      }
    }
    .high:first-child{
      border-bottom: 1px solid #000;
    }
    p{
      font-size: 16px;
      margin-top: 10px;
    }
  }

  .threecol{
    position: relative;
    box-shadow: 10px 2px 14px 2px rgba(0,0,0,0.45);
    cursor: pointer;
    p{
      font-size: 16px;
      color: #fff;
      margin-top: 10px;
    }
    .center{
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-40%);
    }
  }

  #info_bank{
    background: #82368C;
    height: 170px;
    z-index: 8;
    .triangle{
      display: none;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-left-width: 30px;
      border-left-style: solid;
      border-left-color: transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #82368C;
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform:translateX(-50%);
    }
  }

  #historique{
    background: #E71D73;
    height: 170px;
    z-index: 7;
    .triangle{
      display: none;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-left-width: 30px;
      border-left-style: solid;
      border-left-color: transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #E71D73;
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform:translateX(-50%);
    }
  }

  #option{
    background: #F5A726;
    height: 170px;
    z-index: 6;
    .triangle{
      display: none;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-left-width: 30px;
      border-left-style: solid;
      border-left-color: transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #F5A726;
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform:translateX(-50%);
    }
  }

  .block_info{
    display: none;
    width: 100%;
  }

  #option_info_bank{
    font-family: SofiaProRegular;
    .cards-list, .bank-accounts-list{
      white-space: nowrap;
      overflow-x:scroll;
      overflow-y:hidden;
      padding:40px 30px;
      box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.45);
      .title{
        display:inline-block;
        float:left;
        padding: 0px 15px;
        font-family: SofiaProRegular;
        font-size: 18px;
        width:220px;
        white-space:normal;
      }
      .card{
        background-color: $color_qwerteach_blue;
        padding: 5px;
        width:220px;
        border-radius: 5px;
        display:inline-block;
        color: #fff;
        .provider{
          margin-bottom: 15px;
          img{
            height:25px;
          }
        }
        .alias{
          padding: 15px 10px;
        }
      }
      .bank-account{
        width: 220px;
        height:200px;
        color: #fff;
        display:inline-block;
        padding: 0 5px;
        position:relative;
        img.bank-account-background{
          width:80%;
          position: absolute;
          margin-left:10%;
        }
        .owner, .number, .delete{
          width: 100%;
          position: absolute;
          text-align: center;
        }
        .owner{
          top: 30px;
        }
        .number{
          bottom: 45px;
        }
        .delete{
          bottom: 0px;
          button[type=submit]{
            background-color:$color_qwerteach_blue;
            border:none;
            border-radius: 5px;
            padding: 3px 10px;
          }
        }
        .add{
          position:absolute;
          color: #6e6e6e;
          width: 100%;
          height: 100%;
          text-align: center;
          white-space: normal;
          margin-top: 25%;
          cursor:pointer;
          .title{
            position: relative;
            text-align: center;
            color: #3E3E3E;
            display: block;
          }
          img{
            width:40px;
            position:relative;
            margin-left:0px;
          }
        }
      }

    }
    .add-bank-account{

    }
  }

  #option_historique{
    display: none;
    table{
      width: 100%;
      tr{
        border-bottom: #3C3C3B 1px solid;
        th,td{
          text-align: center;
          padding: 10px 0px;
          background: #F6F6F6;
        }
        th{
          padding-top: 50px;
        }
      }
      .dark{
        background: #DADADA;
      }
    }
  }

  #option_option{
    display: none;
    form{
      width: 68%;
      margin: auto;
      .form-section{
        margin-top: 20px;
      }
      .form-section-submit {
        text-align: center;
        margin-top: 50px;
        .submit{
          margin: auto;

        }
      }
    }
  }
}

