.teacher-topics.clearfix
  .topics-list
    -teacher.adverts.each do |ad|
      .topic #{ad.title}
  .level-max-list
    -teacher.adverts.each do |ad|
      .level-max
        jusqu'au niveau
        %b #{ad.max_level.partition(" ").first}
    .tarifs
      =link_to('voir le tarif détaillé', '#detailed-pricing', class:'text-green', data:{toggle: 'modal'})