-#%h3
-#  Bonus 10€:
-#%h3.text-white
-#  Parraînez un ami et gagnez du crédit!
-#.text-center
-#  = link_to '#', class: 'bonus_credit' do
-#    %i.fa.fa-long-arrow-right
%h3
  Vous appréciez Qwerteach?
%h3.text-white
  Parlez-en autour de vous!
.text-center
  =link_to 'https://facebook.com/qwerteach', class: 'bonus_credit' do
    %i.fa.fa-facebook
  =link_to 'https://twitter.com/qwerteach', class: 'bonus_credit' do
    %i.fa.fa-twitter