#footer
    .inner
        =image_tag("logoQ.png", :class => "logo")
        .cadre
            .col
                %h3 A propos
                %br
                %a{:href => pages_path('team')}
                    L'équipe
                %a{:href => "#"} 
                    Job & stage
                %a{:href => pages_path('presse')}
                    Espace presse
                -#%a{:href => "#"}
                -#    Blog
            .col
                %h3 Infos Pratiques
                %br
                %a{:href =>pages_path('comment-ca-marche')}
                    Comment ça marche
                %a{:href => pages_path('faq')}
                    Aide/FAQ
                %a{:href => "#"} 
                    Plan du site
                %a{:href => pages_path('faq')}
                    Paiement sécurisé
            .col
                %h3 Infos Pratiques
                %br
                = link_to t('contact'), new_contact_path
                %p 
                    02 345 48 37
                    %br
                    lu-ve : 10h-19h
                %a.green{:href => "#"}
                    Ouvrir le chat
            .col.social_block
                %h3 Une question ? 
                %br
                %a.social{:href => "https://facebook.com/qwerteach", :target => "_blank"}
                    =image_tag("facebook.png")
                %a.social{:href => "https://twitter.com/qwerteach", :target => "_blank"}
                    =image_tag("twitter.png")
                %a.social{:href => "https://plus.google.com/+Qwerteach", :target => "_blank"}
                    =image_tag("googleplus.png")
            .copyright
                %p © 2013 Qwerteach • Conditions d'utilisation

- if current_user
    :javascript
        PrivatePub.subscribe("/notifications/#{current_user.id}", function(data, channel) {
            Notifications.numberOfUnreadNotifications();
        });