.row
  .col-sm-6.change-step{data: {toggle: '#register-teacher'}}
    =image_tag('signup/teacher.png', alt: "S'inscrire comme professeur")
    %h6 Je suis professeur
    %p.small Donner des cours particuliers et partager ses connaissances
  .col-sm-6.change-step{data: {toggle:'#register-student'}}
    = image_tag('signup/student.png', alt: "S'inscrire comme étudiant")
    %h6 Je suis élève
    %p.small Un petit coup de pouce dans une matière